# Use postgres/example user/password credentials
version: '3.9'

services:
  logger:
    build:
      context: .
      dockerfile: Dockerfile
    image: logger
    container_name: logger
    restart: always
    ports:
      - 3333:3333
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - DB_NAME=location_logger

  db:
    image: postgres:16
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    environment:
      POSTGRES_DB: location_logger
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - 5432:5432
    volumes:
      # mount the volume to persist the data
      - pgdata_v2:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  master:
    image: locustio/locust
    ports:
      - '8089:8089'
    volumes:
      - ./locust:/mnt/locust
    command: "-f /mnt/locust/locustfile.py --master -H http://host.docker.internal:3333"

  worker:
    image: locustio/locust
    volumes:
      - ./locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --worker --master-host master
volumes:
  pgdata_v2:
